* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d1d9e7;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.switch-box {
    position: relative;
    display: flex;
    background: #3e7dbf;
    border-radius: 50px;
    width: 160px;
    height: 60px;
    cursor: pointer;
    align-items: center;
    transition: .9s ease;
    padding: 5px;
    box-shadow: 0 0.5px 1.5px 0px #ffffffa6;
    overflow: hidden;
}

.switch-box .internal-shadow {
    position: absolute;
    border-radius: 50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 2px 4px 2px #000000c4;
}

.shine {
    position: absolute;
    background: #fff;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transition: .9s ease;
}

.shine .level-1 {
    position: absolute;
    background: #fff;
    border: none;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    top: -60px;
    left: -60px;
    opacity: 0.1;
}

.shine .level-2 {
    position: absolute;
    background: #fff;
    border: none;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    top: -40px;
    left: -40px;
    opacity: 0.1;
}

.shine .level-3 {
    position: absolute;
    background: #fff;
    border: none;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    top: -20px;
    left: -20px;
    opacity: 0.1;
}

.stars {
    width: 100%;
    height: 70px;
    position: absolute;
    top: -80px;
    transition: .9s ease;
}

.stars img {
    width: 100%;
}

.clouds {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0px;
    transition: .9s ease;
}

.clouds img {
    width: 100%;
}

.switch-button {
    position: relative;
    background: #fdbc17;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transition: .9s ease;
    box-shadow: 1px 2px 4px 0px #212121;
    overflow: hidden;
}

.switch-box .black-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset -1px -1.5px 4px 0px #353535;
}

.switch-box .white-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 1px 1.5px 2px 0px #ffffff;
}

.switch-box .moon {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #c3c9d5;
    left: 60px;
    transition: .9s ease;
}

.moon .crater-1 {
    width: 17px;
    height: 17px;
    background: #979eb3;
    border-radius: 50%;
    position: absolute;
    top: 19px;
    left: 8px;
    box-shadow: inset 0px 1px 1px 0px #00000038;
}

.moon .crater-2 {
    width: 9px;
    height: 9px;
    background: #979eb3;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 21px;
    box-shadow: inset 0px 0.5px 1px 0px #00000038;
}

.moon .crater-3 {
    width: 11px;
    height: 11px;
    background: #979eb3;
    border-radius: 50%;
    position: absolute;
    bottom: 11px;
    right: 8px;
    box-shadow: inset 0px 0.5px 1px 0px #00000038;
}

.switch-box.active {
    background: #171a2a;
}

.switch-box.active .shine {
    transform: translateX(200%);
}

.switch-box.active .stars {
    transform: translateY(80px);
}

.switch-box.active .clouds {
    transform: translateY(70px);
}

.switch-box.active .switch-button {
    transform: translateX(200%);
}

.switch-box.active .switch-button .moon {
    transform: translateX(-120%);
}